# This is a basic workflow to help you get started with Actions

name: Deploy to Github Pages

# Triggers the workflow on push or pull request but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2

    # Build
    - name: Build
      run: |
        npm install
        npm run build

    # Deploy
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: master
        FOLDER: dist
